


body,html {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

/* 滚动条样式 */
::-webkit-scrollbar{
  width: 8px;
  background-color: #fff;
  /*background-color: var(--el-bg-color);*/
}
::-webkit-scrollbar-track{
  padding: 5px;
}
::-webkit-scrollbar-thumb{
  width: 5px !important;
  border-radius: 8px;
  height: 2px !important;
  /* background-color: #DDDEE0; */
  background-color: #cecece;
  /*background-color: var(--el-scrollbar-hover-bg-color);*/
}


.circleCss {
  border-radius: 50%;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--el-backtop-bg-color);
  --el-backtop-bg-color: var(--el-bg-color-overlay);
  --el-backtop-text-color: var(--el-color-primary);
  --el-backtop-hover-bg-color: var(--el-border-color-extra-light);
  box-shadow: var(--el-box-shadow-lighter);
  color: var(--el-backtop-text-color);
  cursor: pointer;
}